.o
.swp
.log
helloworld
reflect
ngen
log/
bin/
build/
.idea/mini-http-server.iml
.idea/modules.xml
.idea/workspace.xml
CMakeLists.txt
cmake-build-debug/
public/helloworld.exe
public/ngen.exe
public/reflect.exe
.idea/
